name: CI

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  lint-and-format:
    name: Lint (types) + Prettier (styles)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Prettier check
        run: pnpm run format:check

      - name: TypeScript check
        run: pnpm run lint
